<div class="risorse-container">

  <div class="risorse-title">Risorse</div>

  <table class="risorse-table">
    <tr class="risorse-row"><input type="text" class="risorse-span" [(ngModel)]="characterSheet.resources[0]" (blur)="onBlur()" [disabled]="isEditDisabled"></tr>
    <tr class="risorse-row"><input type="text" class="risorse-span" [(ngModel)]="characterSheet.resources[1]" (blur)="onBlur()" [disabled]="isEditDisabled"></tr>
    <tr class="risorse-row"><input type="text" class="risorse-span" [(ngModel)]="characterSheet.resources[2]" (blur)="onBlur()" [disabled]="isEditDisabled"></tr>
    <tr class="risorse-row"><input type="text" class="risorse-span" [(ngModel)]="characterSheet.resources[3]" (blur)="onBlur()" [disabled]="isEditDisabled"></tr>
    <tr class="risorse-row"><input type="text" class="risorse-span" [(ngModel)]="characterSheet.resources[4]" (blur)="onBlur()" [disabled]="isEditDisabled"></tr>
    <tr class="risorse-row"><input type="text" class="risorse-span" [(ngModel)]="characterSheet.resources[5]" (blur)="onBlur()" [disabled]="isEditDisabled"></tr>
    <tr class="risorse-row"><input type="text" class="risorse-span" [(ngModel)]="characterSheet.resources[6]" (blur)="onBlur()" [disabled]="isEditDisabled"></tr>
    <tr class="risorse-row"><input type="text" class="risorse-span" [(ngModel)]="characterSheet.resources[7]" (blur)="onBlur()" [disabled]="isEditDisabled"></tr>
    <tr class="risorse-row"><input type="text" class="risorse-span" [(ngModel)]="characterSheet.resources[8]" (blur)="onBlur()" [disabled]="isEditDisabled"></tr>
    <tr class="risorse-row"><input type="text" class="risorse-span" [(ngModel)]="characterSheet.resources[9]" (blur)="onBlur()" [disabled]="isEditDisabled"></tr>
  </table>
</div>
